### Import important packages like pandas and numpy

In [6]:
import pandas as pd
import numpy as np

### store your directory and file names in a variable for code reusability

In [9]:
location='//Users//aaronliu//Files//Masters//2022//BANA680_Data_Mgmt_for_Business_Anlyst//bana//'
file1='NCHS_-_Leading_Causes_of_Death__United_States.csv'
file2='nst-est2018-01.xlsx'

### reading the file into data frames

In [11]:
df1=pd.read_csv(location+file1)
df2=pd.read_excel(location+file2,header=None)

### Exploring and viewing the data

In [12]:
df1.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

In [13]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,table with row headers in column A and column ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Geographic Area,2010-04-01 00:00:00,NaN,Population Estimate (as of July 1),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0
4,United States,308745538,308758105,309326085,311580009.0,313874218.0,316057727.0,318386421.0,320742673.0,323071342.0,325147121.0,327167434.0

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10296 entries, 0 to 10295
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     10296 non-null  int64
 1   113 Cause Name           10296 non-null  object
 2   Cause Name               10296 non-null  object
 3   State                    10296 non-null  object
 4   Deaths                   10296 non-null  int64
 5   Age-adjusted Death Rate  10296 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 482.8+ KB

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       65 non-null     object
 1   1       59 non-null     object
 2   2       58 non-null     object
 3   3       59 non-null     object
 4   4       58 non-null     float64
 5   5       58 non-null     float64
 6   6       58 non-null     float64
 7   7       58 non-null     float64
 8   8       58 non-null     float64
 9   9       58 non-null     float64
 10  10      58 non-null     float64
 11  11      58 non-null     float64
dtypes: float64(8), object(4)
memory usage: 6.4+ KB

### Drop first two cells for data cleaning purposes

In [162]:
## Pull the column title "Geographic Area"
label = df2.iloc[2,0]

## Pull the remainder row containing the header
headers = df2.iloc[3:4]

## Pull the values within the rows
headers.values

## Create new column header array
newColumnHeaders = []

## Add the first value to it
newColumnHeaders.append(label)

## Add the remainder values to it
for x in headers.values[0]:
    if isinstance(x, float):
        if np.isnan(x):
            continue
        newColumnHeaders.append(int(x))
        continue
    newColumnHeaders.append(x)

newColumnHeaders

## Make the clean data frame with the values from United States to Puerto Rico
cleanDF = pd.DataFrame(df2.iloc[4:-5])
## Assign the new column headers
cleanDF.columns = newColumnHeaders
## Get rid of row number 60 as it was just an empty row
cleanDF.dropna()

,Geographic Area,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018
4,United States,308745538,308758105,309326085,311580009.0,313874218.0,316057727.0,318386421.0,320742673.0,323071342.0,325147121.0,327167434.0
5,Northeast,55317240,55318430,55380645,55600532.0,55776729.0,55907823.0,56015864.0,56047587.0,56058789.0,56072676.0,56111079.0
6,Midwest,66927001,66929743,66974749,67152631.0,67336937.0,67564135.0,67752238.0,67869139.0,67996917.0,68156035.0,68308744.0
7,South,114555744,114563045,114867066,116039399.0,117271075.0,118393244.0,119657737.0,121037542.0,122401186.0,123598424.0,124753948.0
8,West,71945553,71946887,72103625,72787447.0,73489477.0,74192525.0,74960582.0,75788405.0,76614450.0,77319986.0,77993663.0
9,.Alabama,4779736,4780138,4785448,4798834.0,4815564.0,4830460.0,4842481.0,4853160.0,4864745.0,4875120.0,4887871.0
10,.Alaska,710231,710249,713906,722038.0,730399.0,737045.0,736307.0,737547.0,741504.0,739786.0,737438.0
11,.Arizona,6392017,6392288,6407774,6473497.0,6556629.0,6634999.0,6733840.0,6833596.0,6945452.0,7048876.0,7171646.0
12,.Arkansas,2915918,2916028,2921978,2940407.0,2952109.0,2959549.0,2967726.0,2978407.0,2990410.0,3002997.0,3013825.0
13,.California,37253956,37254523,37320903,37641823.0,37960782.0,38280824.0,38625139.0,38953142.0,39209127.0,39399349.0,39557045.0
14,.Colorado,5029196,5029316,5048281,5121771.0,5193721.0,5270482.0,5351218.0,5452107.0,5540921.0,5615902.0,5695564.0
15,.Connecticut,3574097,3574147,3579125,3588023.0,3594395.0,3594915.0,3594783.0,3587509.0,3578674.0,3573880.0,3572665.0
16,.Delaware,897934,897934,899595,907316.0,915188.0,923638.0,932596.0,941413.0,949216.0,957078.0,967171.0
17,.District of Columbia,601723,601766,605085,619602.0,634725.0,650431.0,662513.0,675254.0,686575.0,695691.0,702455.0
18,.Florida,18801310,18804580,18845785,19093352.0,19326230.0,19563166.0,19860330.0,20224249.0,20629982.0,20976812.0,21299325.0
19,.Georgia,9687653,9688709,9711810,9801578.0,9901496.0,9973326.0,10069001.0,10181111.0,10304763.0,10413055.0,10519475.0
20,.Hawaii,1360301,1360307,1363963,1379252.0,1394905.0,1408453.0,1414862.0,1422484.0,1428105.0,1424203.0,1420491.0
21,.Idaho,1567582,1567657,1570773,1583828.0,1595441.0,1611530.0,1631479.0,1651523.0,1682930.0,1718904.0,1754208.0
22,.Illinois,12830632,12831572,12840762,12867291.0,12884119.0,12898269.0,12888962.0,12864342.0,12826895.0,12786196.0,12741080.0
23,.Indiana,6483802,6484061,6490436,6516045.0,6537640.0,6568367.0,6593533.0,6608296.0,6633344.0,6660082.0,6691878.0
24,.Iowa,3046355,3046872,3050767,3066054.0,3076097.0,3093078.0,3109504.0,3121460.0,3131785.0,3143637.0,3156145.0
25,.Kansas,2853118,2853126,2858213,2869035.0,2885361.0,2893510.0,2900896.0,2909502.0,2911263.0,2910689.0,2911505.0
26,.Kentucky,4339367,4339333,4348200,4369488.0,4386381.0,4404817.0,4414483.0,4425999.0,4438229.0,4453874.0,4468402.0
27,.Louisiana,4533372,4533485,4544532,4575184.0,4600814.0,4624577.0,4644204.0,4664851.0,4678215.0,4670818.0,4659978.0
28,.Maine,1328361,1328369,1327632,1328150.0,1327691.0,1328196.0,1330760.0,1328484.0,1331370.0,1335063.0,1338404.0
29,.Maryland,5773552,5773798,5788642,5838991.0,5887072.0,5923704.0,5958165.0,5986717.0,6004692.0,6024891.0,6042718.0
30,.Massachusetts,6547629,6547790,6566431,6613149.0,6663158.0,6713944.0,6763652.0,6795891.0,6826022.0,6863246.0,6902149.0
31,.Michigan,9883640,9884117,9877535,9881521.0,9896930.0,9913349.0,9930589.0,9932573.0,9951890.0,9976447.0,9995915.0
32,.Minnesota,5303925,5303925,5310843,5345668.0,5376550.0,5413693.0,5451522.0,5482503.0,5523409.0,5568155.0,5611179.0
33,.Mississippi,2967297,2968118,2970536,2978470.0,2983767.0,2988797.0,2990623.0,2988693.0,2988298.0,2989663.0,2986530.0
34,.Missouri,5988927,5988952,5995976,6009641.0,6024081.0,6040658.0,6056293.0,6071745.0,6087203.0,6108612.0,6126452.0
35,.Montana,989415,989409,990722,997221.0,1003754.0,1013564.0,1021891.0,1030503.0,1040863.0,1053090.0,1062305.0
36,.Nebraska,1826341,1826305,1829536,1840538.0,1853323.0,1865414.0,1879522.0,1891507.0,1905924.0,1917575.0,1929268.0
37,.Nevada,2700551,2700679,2702464,2712799.0,2744566.0,2776972.0,2819012.0,2868666.0,2919772.0,2972405.0,3034392.0
38,.New Hampshire,1316470,1316464,1316777,1319815.0,1323962.0,1326408.0,1333223.0,1336294.0,1342373.0,1349767.0,1356458.0
39,.New Jersey,8791894,8791962,8799624,8827783.0,8845483.0,8858362.0,8866780.0,8870869.0,8874516.0,8888543.0,8908520.0
40,.New Mexico,2059179,2059180,2064588,2080395.0,2087549.0,2092792.0,2090342.0,2090211.0,2092789.0,2093395.0,2095428.0
41,.New York,19378102,19378124,19400080,19498514.0,19574549.0,19628043.0,19656330.0,19661411.0,19641589.0,19590719.0,19542209.0
42,.North Carolina,9535483,9535736,9574293,9656754.0,9749123.0,9843599.0,9933944.0,10033079.0,10156679.0,10270800.0,10383620.0
43,.North Dakota,672591,672576,674710,685136.0,701116.0,721999.0,737382.0,754022.0,754353.0,755176.0,760077.0
44,.Ohio,11536504,11536757,11539327,11543463.0,11548369.0,11576576.0,11602973.0,11617850.0,11635003.0,11664129.0,11689442.0
45,.Oklahoma,3751351,3751583,3759632,3787821.0,3818600.0,3853205.0,3878367.0,3909831.0,3926769.0,3932640.0,3943079.0
46,.Oregon,3831074,3831075,3837532,3871728.0,3899118.0,3922908.0,3964106.0,4016918.0,4091404.0,4146592.0,4190713.0
47,.Pennsylvania,12702379,12702873,12711158,12744583.0,12766827.0,12776621.0,12789101.0,12785759.0,12783538.0,12790447.0,12807060.0
48,.Rhode Island,1052567,1052957,1053938,1053536.0,1054601.0,1055122.0,1056017.0,1056173.0,1057063.0,1056486.0,1057315.0
49,.South Carolina,4625364,4625381,4635656,4671422.0,4717112.0,4764153.0,4823793.0,4892253.0,4958235.0,5021219.0,5084127.0
50,.South Dakota,814180,814198,816165,823484.0,833496.0,842270.0,849088.0,853933.0,862890.0,873286.0,882235.0
51,.Tennessee,6346105,6346286,6355301,6397410.0,6451281.0,6493432.0,6540826.0,6590808.0,6645011.0,6708794.0,6770010.0
52,.Texas,25145561,25146114,25242679,25646227.0,26089620.0,26489464.0,26977142.0,27486814.0,27937492.0,28322717.0,28701845.0
53,.Utah,2763885,2763891,2775334,2814216.0,2853467.0,2897927.0,2937399.0,2982497.0,3042613.0,3103118.0,3161105.0
54,.Vermont,625741,625744,625880,626979.0,626063.0,626212.0,625218.0,625197.0,623644.0,624525.0,626299.0
55,.Virginia,8001024,8001055,8023680,8100469.0,8185229.0,8253053.0,8312076.0,8362907.0,8410946.0,8465207.0,8517685.0
56,.Washington,6724540,6724540,6742902,6821655.0,6892876.0,6962906.0,7052439.0,7163543.0,7294680.0,7425432.0,7535591.0
57,.West Virginia,1852994,1853001,1854214,1856074.0,1856764.0,1853873.0,1849467.0,1841996.0,1830929.0,1817048.0,1805832.0
58,.Wisconsin,5686986,5687282,5690479,5704755.0,5719855.0,5736952.0,5751974.0,5761406.0,5772958.0,5792051.0,5813568.0
59,.Wyoming,563626,563773,564483,567224.0,576270.0,582123.0,582548.0,585668.0,584290.0,578934.0,577737.0
61,Puerto Rico,3725789,3726157,3721525,3678732.0,3634488.0,3593077.0,3534874.0,3473166.0,3406495.0,3325001.0,3195153.0